{% include header.html %}

<div class="container">
	<div class="row">
		<div class="col-sm-8 blog-main">
			<div class="blog-post">
				<h2 class="blog-post-title">{{ page.title }}</h2>
				{% if page.subtitle %}
					<p class="blog-post-subtitle">{{ page.subtitle }}</p>
				{% endif %}
				<p class="blog-post-meta">
					{{ page.date | date: "%B %-d, %Y" }}
					by
					{{ page.author }}
				</p>
				{{ content }}
			</div>
		</div>
		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			{% include sidebar.html %}
		</div>
	</div>
</div>

{% include footer.html %}
